:root{
    --primary: #071b42;
    --secondary:#479aca;
    --tertiary: #dae8ee;
}

.cButton{
    border-radius:1em;
    border: 1px solid black;
    padding: 1em;
    background-color: #071b42;
}
.cflex{
    display:flex;
    gap: 5px
}

.cflexColumn{
    display:flex;
    gap: 5px;
    flex-direction: column;
}

